/* .container{

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap:50%;
} */
#item1{

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 200px 200px;
    background-color: yellow;
}
#item2{

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 80px 80px;
    background-color: blue;
}

#item3{

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 80px 80px;
    background-color: red;
}

